@charset "utf-8";
/* CSS Document */

body, html
{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color:#FFFFFF;
  background-image:url('TopNewsBackground.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}

#topStripe
{
  position:absolute;
  background-color: #2e2e2e;
  background-image:url('Logo.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 115px;
}

.container {
	background-color: #FFFFF;
	padding-top:175px;
	padding-right:100px;
	margin: auto; /* the auto value on the sides, coupled with the width, centers the layout */
	width: 1000px;
	height: 650px;
}


#header {
	width: 1000px;
	height: 99px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0;
}

#settings{
	float: left;
	width: 20px;
	height: 500px;
	alignment-adjust: auto;
	padding: 0px;
}

#ads {
	float: left;
	width: 185px;
	height: 500px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	alignment-adjust: auto;
	padding-right: 0px;
}

#content {
	background-color: #FFFFFF;
	padding-left: 110px;
	float: left;
	width: 695px;
	height: 500px;
	margin: auto;	
}

.footer, .push {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-variant: normal;
	font-style: italic;
	text-align: center;
	margin: 0;
	background-color: #2e2e2e;
	width: 100%;
	height:150px;
	color: #FFFFFF;
	line-height: 150px;
}


/* search bar */
#search {

}

#search input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #2e2e2e;
    width: 138px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 400px;
	color: #FFFFFF;
	background-color: #2e2e2e;
    }
	
/* Sidebar */
ul#sidebar
{	
	font-size: 0.75em;
	list-style-type:none;
	margin-left: -10;
	margin:0;
	padding:0;
}
ul#sidebar li.sidebar-element h3,
ul#sidebar li.sidebar-element a
{
	display: block;
	width: 150px;
	margin-bottom: 5px;
	list-style-position: inside;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
ul#sidebar li.sidebar-element h3
{
	color: #852929;
	background: #2e2e2e;
	border: 1px solid #1a1a1a;
	font-weight: normal;
}
ul#sidebar li.sidebar-element a
{
	color: #999;
	border: 1px solid #1a1a1a;
	text-decoration: none;
	background-color: #2e2e2e;
	background-position: left;
	text-align: left;
	list-style-position: inside;
	position: relative;
}
ul#sidebar li.sidebar-element a:hover { color: #852929; }
