body {
	background: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
}

.header {
	background-color: #FFFFFF;
}

ul#main
{
	font-size: .8em;
	list-style-type:none;
	margin:0;
	padding:0;
	font-family: Helvetica, sans-serif;
}
ul#main li.mainbar-element h3,
ul#main li.mainbar-element a
{
	display: block;
	width: 550px; /*695-40-15-15*/
	padding: 5px 15px;
	margin-bottom: 5px;
}
ul#main li.mainbar-element h3
{
	color: #FFFFFF;
	background: #FFFFFF;
	border: 1px solid #1a1a1a;
	font-weight: normal;
}
ul#main li.mainbar-element a
{
	color: #000000;
	background: FFFFFF;
	/*border: 1px solid #1a1a1a;*/
	text-decoration: none;
	/*text-align: center;*/
}
ul#main li.mainbar-element a:hover {
	color: #852929;
	font-size: 1em;
	font-family: Helvetica, sans-serif;
}

